In [20]:
import pandas as pd
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [21]:
df = pd.read_csv('./salario.csv')
df.head(10)

   edad  estudio  ingreso
0    27        9        0
1    30        9        0
2    34        8        0
3    26       13        0
4    23        4        0
5    20       10        0
6    21       10        0
7    42        9        1
8    68        9        0
9    41       10        1

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   edad     100 non-null    int64
 1   estudio  100 non-null    int64
 2   ingreso  100 non-null    int64
dtypes: int64(3)
memory usage: 2.5 KB

In [23]:
x = df[['edad','estudio']].values
y = df['ingreso'].values

In [24]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
model = KNeighborsClassifier(n_neighbors=3)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

In [26]:
accuracy_score(y_test, y_pred)

0.8

In [ ]:
score = cross_val_score(model,x,y,cv=5,scoring='accuracy')
score.mean()

0.75