In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
df = pd.read_csv('./comprar_alquilar.csv')
df.head()

,ingresos,gastos_comunes,pago_coche,gastos_otros,ahorros,vivienda,estado_civil,hijos,trabajo,comprar
0,6000,1000,0,600,50000,400000,0,2,2,1
1,6745,944,123,429,43240,636897,1,3,6,0
2,6455,1033,98,795,57463,321779,2,1,8,1
3,7098,1278,15,254,54506,660933,0,0,3,0
4,6167,863,223,520,41512,348932,0,0,3,1

In [3]:
scal = MinMaxScaler()
df[['ingresos',	'gastos_comunes',	'pago_coche',	'gastos_otros',	'ahorros', 'vivienda']] = scal.fit_transform(df[['ingresos',	'gastos_comunes',	'pago_coche',	'gastos_otros',	'ahorros', 'vivienda']])

In [4]:
x = df[['ingresos', 'gastos_comunes', 'pago_coche', 'ahorros', 'vivienda','hijos', 'trabajo']]
y = df['comprar']

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [6]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [7]:
lda = LDA()
x_train = lda.fit_transform(x_train,y_train)
x_test = lda.transform(x_test)

In [8]:
print(x.shape)
print(x_train.shape)

(202, 7)
(161, 1)

In [9]:
# Varianza
var_ratio = lda.explained_variance_ratio_
var_ratio

array([1.])

In [10]:
lda = LDA(n_components=1)
x_train = lda.fit_transform(x_train,y_train)
x_test = lda.transform(x_test)

In [11]:
model = GaussianNB()
model.fit(x_train,y_train)

y_pred = model.predict(x_test)

In [12]:
accuracy_score(y_test,y_pred)

0.8780487804878049

In [13]:
confusion_matrix(y_test,y_pred)

array([[23,  1],
       [ 4, 13]], dtype=int64)