In [28]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix

In [29]:
df = pd.read_csv('./Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [30]:
df.shape

(400, 5)

In [31]:
scaler = MinMaxScaler()
df[['EstimatedSalary','Age']] = scaler.fit_transform(df[['EstimatedSalary','Age']])

In [32]:
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])

In [33]:
df

      User ID  Gender       Age  EstimatedSalary  Purchased
0    15624510       1  0.023810         0.029630          0
1    15810944       1  0.404762         0.037037          0
2    15668575       0  0.190476         0.207407          0
3    15603246       0  0.214286         0.311111          0
4    15804002       1  0.023810         0.451852          0
..        ...     ...       ...              ...        ...
395  15691863       0  0.666667         0.192593          1
396  15706071       1  0.785714         0.059259          1
397  15654296       0  0.761905         0.037037          1
398  15755018       1  0.428571         0.133333          0
399  15594041       0  0.738095         0.155556          1

[400 rows x 5 columns]

In [34]:
x = df[['Gender','Age','EstimatedSalary']]
y = df['Purchased']

In [35]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [36]:
model = GaussianNB()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

In [37]:
accuracy_score(y_test,y_pred)

0.93

In [38]:
confusion_matrix(y_test,y_pred)

array([[61,  2],
       [ 5, 32]], dtype=int64)